.about {
  text-align: center;
  margin-bottom: 200px;
  max-width: 1000px;
}

.about .title {
  font-size: 24px;
  line-height: 100%;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.about > p {
  font-size: 21px;
  line-height: 100%;
  margin-bottom: 40px;
  font-weight: lighter;
}

.about .community .upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.about .community .number {
  font-size: 32px;
  line-height: 42px;
  font-weight: bolder;
}
